@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Manrope:wght@500&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --bg-color-dark-1: #323149;
  --bg-color-dark-light: #474664;
  --bg-color-2: radial-gradient(
      211.88% 141.42% at 100% 100%,
      #c5aa4a 0.01%,
      #4e959a 52.08%,
      #4d37a3 100%
    )
    no-repeat;
  --bg-color-white: #fff;
  --bg-color-button-purple: #6d67e4;
  --color-text-white: #fff;
  --color-text-grey: #525252;
  --color-text-purple: #6d67e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

body {
  font-family: monospace, sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 4px 0 4px;
}
.navigationLien {
  display: flex;
  gap: 36px;
  list-style: none;
}
.navigationLien a {
  color: var(--color-text-white);
  font-weight: bold;
}
.navigationLien .navigationLienConnexion {
  border-radius: 14px;
  background-color: var(--bg-color-button-purple);
  padding: 7px 16px;
}

footer {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  color: var(--color-text-white);
}

body {
  background: var(--bg-color-2);
}

.mainAccueil {
  display: flex;
  justify-content: center;
  padding: 4px 4px 0 4px;
}

.accueil {
  display: flex;
  flex-direction: column;
  color: var(--color-text-white);
  margin-top: 64px;
}
.accueilTitre {
  margin: 32px 0;
}
.accueilTitrePrincipal {
  font-size: 50px;
  margin-bottom: 32px;
}
.accueilTitreTexte {
  font-size: 18px;
}
.accueilTendance {
  margin: 32px 0;
}
.accueilTendanceTitre {
  font-size: 18px;
}
.accueilTendanceTableau {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.accueilTendanceTableauLien {
  text-align: end;
  margin: 32px 0 16px 0;
  font-size: 14px;
}
.accueilTendanceTableauLien a {
  color: var(--color-text-white);
}
.accueilTendanceTableauContent {
  border-collapse: collapse;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.accueilTendanceTableauContent thead {
  background-color: var(--bg-color-dark-1);
}
.accueilTendanceTableauContent th,
.accueilTendanceTableauContent td {
  padding: 16px;
  text-align: center;
}
.accueilTendanceTableauContent th:first-child {
  border-radius: 12px 0 0 0;
}
.accueilTendanceTableauContent th:last-child {
  border-radius: 0 12px 0 0;
}
.accueilTendanceTableauContent tr:last-child {
  border-radius: 0 0 12px 12px;
}
.accueilTendanceTableauContent tr:last-child td:first-child {
  border-radius: 0 0 0 12px;
}
.accueilTendanceTableauContent tr:last-child td:last-child {
  border-radius: 0 0 12px 0;
}
.accueilTendanceTableauContentOdd-row {
  background-color: var(--bg-color-dark-1);
}
.accueilTendanceTableauContentEven-row {
  background-color: var(--bg-color-dark-light);
}

.mainLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}

.back {
  width: 50%;
  position: absolute;
  padding: 32px 0 0 32px;
}
.back a {
  color: var(--color-text-grey);
  font-size: 64px;
  font-weight: bolder;
}

.login {
  background-color: var(--bg-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 64px;
}
.loginTitre {
  font-size: 39px;
  margin-bottom: 64px;
  text-align: center;
}
.loginContent {
  width: 420px;
}
.loginContentForm {
  display: flex;
  flex-direction: column;
}
.loginContentFormInput {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.loginContentFormInput input {
  border: 1px #c2c2c2 solid;
  border-radius: 16px;
  padding: 12px;
  width: 100%;
}
.loginContentFormInputPassword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.loginContentFormInputPassword span {
  position: absolute;
  right: 12px;
  color: var(--color-text-grey);
  cursor: pointer;
}
.loginContentFormResetPassword {
  text-align: end;
  margin: 12px 0 64px 0;
}
.loginContentFormResetPassword a {
  color: var(--color-text-grey);
  text-decoration: underline;
}
.loginContentFormButton {
  align-self: center;
  background-color: var(--bg-color-button-purple);
  color: var(--bg-color-white);
  font-weight: bold;
  border-radius: 32px;
  width: 200px;
  height: 42px;
  font-size: 18px;
}
.loginContentFormNouveauUser {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.loginContentFormNouveauUser a {
  margin-left: 12px;
  color: var(--color-text-purple);
  font-weight: bold;
}

.mainInscription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}

.back {
  width: 50%;
  position: absolute;
  padding: 32px 0 0 32px;
}
.back a {
  color: var(--color-text-grey);
  font-size: 64px;
  font-weight: bolder;
}

.inscription {
  background-color: var(--bg-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 64px;
}
.inscriptionTitre {
  font-size: 39px;
  margin-bottom: 64px;
  text-align: center;
}
.inscriptionContent {
  width: 420px;
}
.inscriptionContentForm {
  display: flex;
  flex-direction: column;
}
.inscriptionContentFormInput {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.inscriptionContentFormInput input {
  border: 1px #c2c2c2 solid;
  border-radius: 16px;
  padding: 12px;
  width: 100%;
}
.inscriptionContentFormInputPassword, .inscriptionContentFormInputConfirmPassword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.inscriptionContentFormInputPassword span, .inscriptionContentFormInputConfirmPassword span {
  position: absolute;
  right: 12px;
  color: var(--color-text-grey);
  cursor: pointer;
}
.inscriptionContentFormInputCritere {
  display: none;
  flex-direction: column;
  margin-left: 12px;
  gap: 4px;
}
.inscriptionContentFormInputCritere span {
  color: red;
  transition: color 0.3s ease;
}
.inscriptionContentFormInputCritere span.valid {
  color: green;
}
.inscriptionContentFormInputCritere span.invalid {
  color: red;
}
.inscriptionContentFormInputError {
  text-align: center;
}
.inscriptionContentFormInputError span {
  display: none;
  color: red;
}
.inscriptionContentFormInputError #error_c {
  display: block;
  color: red;
}
.inscriptionContentFormInputSuccess {
  text-align: center;
}
.inscriptionContentFormInputSuccess #success {
  color: green;
}
.inscriptionContentFormButton {
  align-self: center;
  background-color: var(--bg-color-button-purple);
  color: var(--bg-color-white);
  font-weight: bold;
  border-radius: 32px;
  width: 200px;
  height: 42px;
  font-size: 18px;
  margin: 64px 0 16px 0;
}
.inscriptionContentFormLogin {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.inscriptionContentFormLogin a {
  margin-left: 12px;
  color: var(--color-text-purple);
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
