@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Manrope:wght@500&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --bg-color-dark-1: #323149;
  --bg-color-dark-light: #474664;
  --bg-color-2: radial-gradient(
      211.88% 141.42% at 100% 100%,
      #c5aa4a 0.01%,
      #4e959a 52.08%,
      #4d37a3 100%
    )
    no-repeat;
  --bg-color-white: #fff;
  --bg-color-button-purple: #6d67e4;
  --bg-color-button-orange: #e4ab67;
  --bg-color-button-yellow:#d7d769;
  --bg-color-red-pastel: #e46767;
  --bg-color-bleu: #00b0ff;
  --bg-color-green: #14d733;
  --color-text-white: #fff;
  --color-text-grey: #525252;
  --color-text-black: #000000;
  --color-text-purple: #6d67e4;
  --color-text-green:green;
  --color-text-red: red;
}

.template1 {
  --bg-color-dark-1: #3e4931;
  --bg-color-dark-light: #556446;
  --bg-color-2: radial-gradient(
      211.88% 141.42% at 100% 100%,
      #75c54a 0.01%,
      #7d4e9a 52.08%,
      #a37137 100%
    )
    no-repeat;
  --bg-color-white: #fff;
  --bg-color-button-purple: #aae467;
  --bg-color-button-orange: #b867e4;
  --bg-color-red-pastel: #e46767;
  --bg-color-bleu: #00b0ff;
  --color-text-white: #fff;
  --color-text-grey: #525252;
  --color-text-black: #000000;
  --color-text-purple: #6d67e4;
  --color-text-green:green;
  --color-text-red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

body {
  font-family: monospace, sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 4px 0 4px;
}
.navigationLien {
  display: flex;
  gap: 36px;
  list-style: none;
}
.navigationLien a {
  color: var(--color-text-white);
  font-weight: bold;
}
.navigationLienConnexion {
  border-radius: 14px;
  background-color: var(--bg-color-button-purple);
  padding: 7px 16px;
}
.navigationLienProfil, .gestionCrudTableauAdd a, .gestionCrudTableauContent .boutonUpdate, .contentCardTableauContent .boutonUpdate, .gestionCrudTableauContent .boutonDebloque, .contentCardTableauContent .boutonDebloque, .gestionCrudTableauContent .boutonBloque, .contentCardTableauContent .boutonBloque, .gestionCrudTableauContent .boutonRestore, .contentCardTableauContent .boutonRestore, .gestionCrudTableauContent .boutonDelete, .contentCardTableauContent .boutonDelete, .gestionNavigation a, .contentNavigation a {
  border-radius: 14px;
  background-color: var(--bg-color-button-orange);
  padding: 7px 16px;
}
.navigationLienTopic {
  border-radius: 14px;
  background-color: var(--bg-color-bleu);
  padding: 7px 16px;
}

footer {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  color: var(--color-text-white);
}

body {
  background: var(--bg-color-2);
}

.mainAccueil, .mainGestion, .mainContent, .mainDashboard, .regles, .mainProfil {
  display: flex;
  justify-content: center;
  padding: 4px 4px 0 4px;
}

.accueil, .gestion, .content, .dashboard, .profilTopic, .profil {
  display: flex;
  flex-direction: column;
  color: var(--color-text-white);
  margin-top: 64px;
}
.accueilTitre, .contentTitre, .gestionCrudTitre, .contentCardTitre, .gestionTitre, .dashboardTitre, .profilTopicTitre, .profilTitre {
  margin: 32px 0;
}
.accueilTitrePrincipal, .contentTitrePrincipal, .gestionTitrePrincipal, .dashboardTitrePrincipal, .profilTopicTitrePrincipal, .profilTitrePrincipal {
  font-size: 50px;
  margin-bottom: 32px;
}
.accueilTitreTexte, .contentTitreTexte, .gestionTitreTexte, .dashboardTitreTexte, .profilTopicTitreTexte, .profilTitreTexte {
  font-size: 18px;
}
.accueilTendance, .contentCard, .gestionCrud, .dashboardPanel {
  margin: 32px 0;
}
.accueilTendanceTitre {
  font-size: 18px;
}
.accueilTendanceTableau, .gestionCrudTableau, .contentCardTableau, .dashboardPanelTableau {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.accueilTendanceTableauLien {
  text-align: end;
  margin: 32px 0 16px 0;
  font-size: 14px;
}
.accueilTendanceTableauLien a {
  color: var(--color-text-white);
}
.accueilTendanceTableauContent, .gestionCrudTableauContent, .contentCardTableauContent, .dashboardPanelTableauContent, .profilTopicContent {
  border-collapse: collapse;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.accueilTendanceTableauContent a, .gestionCrudTableauContent a, .contentCardTableauContent a, .dashboardPanelTableauContent a, .profilTopicContent a {
  color: var(--color-text-white);
  text-decoration: underline;
}
.accueilTendanceTableauContent thead, .gestionCrudTableauContent thead, .contentCardTableauContent thead, .dashboardPanelTableauContent thead, .profilTopicContent thead {
  background-color: var(--bg-color-dark-1);
}
.accueilTendanceTableauContent th, .gestionCrudTableauContent th, .contentCardTableauContent th, .dashboardPanelTableauContent th, .profilTopicContent th,
.accueilTendanceTableauContent td,
.gestionCrudTableauContent td,
.contentCardTableauContent td,
.dashboardPanelTableauContent td,
.profilTopicContent td {
  padding: 16px;
  text-align: center;
}
.accueilTendanceTableauContent th:first-child, .gestionCrudTableauContent th:first-child, .contentCardTableauContent th:first-child, .dashboardPanelTableauContent th:first-child, .profilTopicContent th:first-child {
  border-radius: 12px 0 0 0;
}
.accueilTendanceTableauContent th:last-child, .gestionCrudTableauContent th:last-child, .contentCardTableauContent th:last-child, .dashboardPanelTableauContent th:last-child, .profilTopicContent th:last-child {
  border-radius: 0 12px 0 0;
}
.accueilTendanceTableauContent tr:last-child, .gestionCrudTableauContent tr:last-child, .contentCardTableauContent tr:last-child, .dashboardPanelTableauContent tr:last-child, .profilTopicContent tr:last-child {
  border-radius: 0 0 12px 12px;
}
.accueilTendanceTableauContent tr:last-child td:first-child, .gestionCrudTableauContent tr:last-child td:first-child, .contentCardTableauContent tr:last-child td:first-child, .dashboardPanelTableauContent tr:last-child td:first-child, .profilTopicContent tr:last-child td:first-child {
  border-radius: 0 0 0 12px;
}
.accueilTendanceTableauContent tr:last-child td:last-child, .gestionCrudTableauContent tr:last-child td:last-child, .contentCardTableauContent tr:last-child td:last-child, .dashboardPanelTableauContent tr:last-child td:last-child, .profilTopicContent tr:last-child td:last-child {
  border-radius: 0 0 12px 0;
}
.accueilTendanceTableauContentOdd-row, .contentCardTableau .commentaireCardOdd-row, .contentCardTableauContentOdd-row, .gestionCrudTableauContentOdd-row, .dashboardPanelTableauContentOdd-row, .profilTopicContentOdd-row {
  background-color: var(--bg-color-dark-1);
}
.accueilTendanceTableauContentEven-row, .contentCardTableau .commentaireCardEven-row, .contentCardTableauContentEven-row, .gestionCrudTableauContentEven-row, .dashboardPanelTableauContentEven-row, .profilTopicContentEven-row {
  background-color: var(--bg-color-dark-light);
}

.mainLogin, .mainReset, .mainDemandeReset, .mainReverification, .mainVerification, .mainInscription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}

.back {
  width: 50%;
  position: absolute;
  padding: 32px 0 0 32px;
}
.back a {
  color: var(--color-text-grey);
  font-size: 64px;
  font-weight: bolder;
}

.login, .reset, .demandeReset, .reverification, .verification, .inscription {
  background-color: var(--bg-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 64px;
}
.loginTitre, .resetTitre, .demandeResetTitre, .reverificationTitre, .verificationTitre, .inscriptionTitre {
  font-size: 32px;
  margin-bottom: 64px;
  text-align: center;
}
.loginContent, .resetContent, .demandeResetContent, .reverificationContent, .verificationContent, .inscriptionContent {
  width: 420px;
}
.loginContentForm, .resetContentForm, .demandeResetContentForm, .reverificationContentForm, .verificationContentForm, .inscriptionContentForm {
  display: flex;
  flex-direction: column;
}
.loginContentFormInput, .resetContentFormInput, .demandeResetContentFormInput, .reverificationContentFormInput, .verificationContentFormInput, .inscriptionContentFormInput {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 12px;
}
.loginContentFormInput input, .resetContentFormInput input, .demandeResetContentFormInput input, .reverificationContentFormInput input, .verificationContentFormInput input, .inscriptionContentFormInput input {
  border: 1px #c2c2c2 solid;
  border-radius: 16px;
  padding: 12px;
  width: 100%;
}
.loginContentFormInputPassword, .resetContentFormInputPassword, .resetContentFormInputConfirmPassword, .inscriptionContentFormInputPassword, .inscriptionContentFormInputConfirmPassword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.loginContentFormInputPassword span, .resetContentFormInputPassword span, .resetContentFormInputConfirmPassword span, .inscriptionContentFormInputPassword span, .inscriptionContentFormInputConfirmPassword span {
  position: absolute;
  right: 12px;
  color: var(--color-text-grey);
  cursor: pointer;
}
.loginContentFormResetPassword {
  text-align: end;
  margin: 12px 0 64px 0;
}
.loginContentFormResetPassword a {
  color: var(--color-text-grey);
  text-decoration: underline;
}
.loginContentFormButton, .contentCardTableau .commentaireCardBodyBouton, .demandeResetContentFormButton, .reverificationContentFormButton, .verificationContentFormButton, .inscriptionContentFormButton, .resetContentFormButton {
  align-self: center;
  background-color: var(--bg-color-button-purple);
  color: var(--bg-color-white);
  font-weight: bold;
  border-radius: 32px;
  width: 200px;
  height: 42px;
  font-size: 18px;
}
.loginContentFormButton:hover, .contentCardTableau .commentaireCardBodyBouton:hover, .demandeResetContentFormButton:hover, .reverificationContentFormButton:hover, .verificationContentFormButton:hover, .inscriptionContentFormButton:hover, .resetContentFormButton:hover {
  cursor: pointer;
}
.loginContentFormNouveauUser, .inscriptionContentFormLogin, .loginContentFormRecheck, .resetContentFormRecheck, .verificationContentFormRecheck {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.loginContentFormNouveauUser a, .inscriptionContentFormLogin a, .loginContentFormRecheck a, .resetContentFormRecheck a, .verificationContentFormRecheck a {
  margin-left: 12px;
  color: var(--color-text-purple);
  font-weight: bold;
}

.inscriptionContentFormInputCritere, .resetContentFormInputCritere {
  display: none;
  flex-direction: column;
  margin-left: 12px;
  gap: 4px;
}
.inscriptionContentFormInputCritere span, .resetContentFormInputCritere span {
  color: var(--color-text-red);
  transition: color 0.3s ease;
}
.inscriptionContentFormInputCritere span.valid, .resetContentFormInputCritere span.valid {
  color: var(--color-text-green);
}
.inscriptionContentFormInputCritere span.invalid, .resetContentFormInputCritere span.invalid {
  color: var(--color-text-red);
}
.inscriptionContentFormInputError, .resetContentFormInputError, .demandeResetContentFormInputError, .reverificationContentFormInputError, .verificationContentFormInputError {
  text-align: center;
  margin-bottom: 12px;
}
.inscriptionContentFormInputError span, .resetContentFormInputError span, .demandeResetContentFormInputError span, .reverificationContentFormInputError span, .verificationContentFormInputError span {
  display: none;
  color: var(--color-text-red);
}
.inscriptionContentFormInputError #error_c, .resetContentFormInputError #error_c, .demandeResetContentFormInputError #error_c, .reverificationContentFormInputError #error_c, .verificationContentFormInputError #error_c {
  display: block;
  color: var(--color-text-red);
}
.inscriptionContentFormInputSuccess, .resetContentFormInputSuccess, .demandeResetContentFormInputSuccess, .reverificationContentFormInputSuccess, .verificationContentFormInputSuccess {
  text-align: center;
}
.inscriptionContentFormInputSuccess #success, .resetContentFormInputSuccess #success, .demandeResetContentFormInputSuccess #success, .reverificationContentFormInputSuccess #success, .verificationContentFormInputSuccess #success {
  color: var(--color-text-green);
}
.inscriptionContentFormButton, .resetContentFormButton {
  margin: 64px 0 16px 0;
}
.mainProfil {
  flex-direction: column;
  align-items: center;
}

.profilTitrePrincipal {
  margin-bottom: 0;
}
.profilCard, .reglesCard, .profilTheme {
  background-color: var(--bg-color-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profilCardInfo {
  margin-bottom: 20px;
}
.profilCardInfo h2,
.profilCardInfo p {
  color: var(--color-text-black);
  margin: 10px 0;
}
.profilCardInfo .user-email {
  font-weight: 600;
  font-size: 20px;
}
.profilCardBouton, .profilThemeFormBouton, .profilTopicContentBouton, .profilTopicContentLien {
  background-color: var(--bg-color-button-purple);
  color: var(--color-text-white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.profilThemeTitle {
  color: var(--color-text-black);
}
.profilThemeSubtitle {
  color: var(--color-text-grey);
}
.profilThemeForm {
  margin-top: 8px;
}
.profilThemeFormSelect {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--bg-color-button-purple);
}
.profilThemeError {
  color: var(--color-text-red);
}

.profilTopicTitrePrincipal {
  margin-bottom: 0;
}
.profilTopicContentLien {
  padding: 2px 10px;
}
.profilTopicContentBouton {
  padding: 5px 10px;
  background-color: var(--bg-color-red-pastel);
}
.profilTopicMessage {
  text-align: center;
}
.profilTopicMessageError {
  background-color: var(--bg-color-white);
  color: var(--color-text-red);
  margin-bottom: 8px;
}
.profilTopicMessageSuccess {
  background-color: var(--bg-color-white);
  color: var(--color-text-green);
  margin-bottom: 8px;
}

.mainDashboard, .regles {
  flex-direction: column;
  align-items: center;
}

.dashboardPanelTableauContent th:last-child {
  border-radius: 12px 12px 0 0;
}
.dashboardPanelTableauContent tr:last-child td:last-child {
  border-radius: 0 0 12px 12px;
}
.dashboardPanelTableauContentOdd-row a {
  color: var(--color-text-white);
}
.dashboardPanelTableauContentEven-row a {
  color: var(--color-text-white);
}

.reglesTitre {
  margin-top: 64px;
  color: var(--color-text-white);
  font-weight: bolder;
}
.reglesCard {
  width: 50%;
  padding: 32px;
}
.reglesCardContainer p {
  margin-bottom: 32px;
  font-weight: 600;
  line-height: 24px;
  font-size: 1.1em;
}
.reglesCardContainerList h3 {
  text-align: center;
  color: var(--color-text-red);
  font-weight: bolder;
}
.reglesCardContainerList li {
  margin: 12px 0;
  font-size: 1.1em;
  line-height: 24px;
  list-style: none;
}
.reglesCardContainerList li span {
  color: var(--color-text-red);
}

.mainGestion, .mainContent {
  flex-direction: column;
  align-items: center;
}

.gestionCard {
  background-color: var(--bg-color-white);
  padding: 32px;
  border-radius: 8px;
}
.gestionCard h1 {
  color: var(--color-text-black);
}
.gestionCard .selectRole {
  border: 1px #c2c2c2 solid;
  border-radius: 16px;
  padding: 12px;
  width: 100%;
}
.gestionTitre .successNewTopic {
  font-size: 1.2em;
  font-weight: 600;
}
.gestionNavigation a, .contentNavigation a {
  color: var(--color-text-white);
  font-weight: 600;
  font-size: 1.1em;
  background-color: var(--bg-color-bleu);
}
.gestionCrudTitre, .contentCardTitre {
  text-align: center;
}
.gestionCrudTableauContent a, .contentCardTableauContent a {
  color: var(--color-text-white);
  text-decoration: underline;
}
.gestionCrudTableauContent .boutonUpdate, .contentCardTableauContent .boutonUpdate, .gestionCrudTableauContent .boutonDebloque, .contentCardTableauContent .boutonDebloque, .gestionCrudTableauContent .boutonBloque, .contentCardTableauContent .boutonBloque, .gestionCrudTableauContent .boutonRestore, .contentCardTableauContent .boutonRestore, .gestionCrudTableauContent .boutonDelete, .contentCardTableauContent .boutonDelete {
  color: var(--color-text-white);
  background-color: var(--bg-color-bleu);
  font-weight: 600;
}
.gestionCrudTableauContent .boutonUpdate:hover, .contentCardTableauContent .boutonUpdate:hover, .gestionCrudTableauContent .boutonDebloque:hover, .contentCardTableauContent .boutonDebloque:hover, .gestionCrudTableauContent .boutonBloque:hover, .contentCardTableauContent .boutonBloque:hover, .gestionCrudTableauContent .boutonRestore:hover, .contentCardTableauContent .boutonRestore:hover, .gestionCrudTableauContent .boutonDelete:hover, .contentCardTableauContent .boutonDelete:hover {
  cursor: pointer;
}
.gestionCrudTableauContent .boutonDelete, .contentCardTableauContent .boutonDelete {
  background-color: var(--bg-color-red-pastel);
}
.gestionCrudTableauContent .boutonRestore, .contentCardTableauContent .boutonRestore {
  background-color: var(--bg-color-button-orange);
}
.gestionCrudTableauContent .boutonBloque, .contentCardTableauContent .boutonBloque {
  background-color: var(--bg-color-button-yellow);
}
.gestionCrudTableauContent .boutonDebloque, .contentCardTableauContent .boutonDebloque {
  background-color: var(--bg-color-button-orange);
}
.gestionCrudTableauAdd {
  text-align: center;
  margin-top: 32px;
}
.gestionCrudTableauAdd a {
  color: var(--color-text-white);
  background-color: var(--bg-color-green);
  font-weight: 600;
  font-size: 1.1em;
}
.gestionCrudTableauListe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 32px;
  color: var(--color-text-black);
}
.gestionCrudTableauListeCategorie {
  list-style: none;
  font-size: 1.1em;
  font-weight: 600;
}
.gestionCrudTableauListeCategorie li {
  margin-bottom: 18px;
}
.gestionCrudTableau label, .contentCardTableau label {
  color: var(--color-text-black);
  font-size: 1.2em;
  font-weight: 600;
}
.gestionCrudTableau textarea, .contentCardTableau textarea {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 12px;
}

.contentCardTableau .commentaireCardOdd-row {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 32px;
}
.contentCardTableau .commentaireCardEven-row {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 32px;
}
.contentCardTableau .commentaireCardBody {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contentCardTableau .commentaireCardBodyTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid white;
}
.contentCardTableau .commentaireCardBodyTitlePrincipale {
  font-weight: 600;
  font-size: 1.3em;
}
.contentCardTableau .commentaireCardBodyCommentaire {
  font-size: 1.2em;
  max-width: 800px;
}
.contentCardTableau .commentaireCardBody textarea {
  padding: 12px;
}
.contentCardTableauInfoNotLoged {
  text-align: center;
  color: var(--color-text-red);
  font-size: 1.3em;
  font-weight: 600;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=style.css.map */
