:root {
  --bg-color-dark-1: #323149;
  --bg-color-dark-light: #474664;
  --bg-color-2: radial-gradient(
      211.88% 141.42% at 100% 100%,
      #c5aa4a 0.01%,
      #4e959a 52.08%,
      #4d37a3 100%
    )
    no-repeat;
  --bg-color-button-purple: #6d67e4;
  --color-text-white: #fff;
}
