.mainInscription {
  @extend .mainLogin;
}

.inscription {
  @extend .login;

  &Titre {
    @extend .loginTitre;
  }
  &Content {
    @extend .loginContent;
    &Form {
      @extend .loginContentForm;
      &Input {
        @extend .loginContentFormInput;
        
        &Password,
        &ConfirmPassword {
          @extend .loginContentFormInputPassword;

        }
        &Critere {
          display: none;
          flex-direction: column;
          margin-left: 12px;
          gap: 4px;
          span {
            color: var(--color-text-red);
            transition: color 0.3s ease;
          }

          span.valid {
            color: var(--color-text-green);
          }

          span.invalid {
            color: var(--color-text-red);
          }
        }
        &Error {
          text-align: center;
          margin-bottom: 12px;
          span{
              display: none;
              color: var(--color-text-red);
          }
          #error_c{
            display: block;
            color: var(--color-text-red);
          }
        
        }
        &Success{
          text-align: center;
          #success{
            color: var(--color-text-green);
          }
        }
      }
      &Button {
        @extend .loginContentFormButton;
        margin: 64px 0 16px 0;
      }
      &Login {
        @extend .loginContentFormNouveauUser;
        
      }
    }
  }
}
