.mainLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}

.back {
  width: 50%;
  position: absolute;
  padding: 32px 0 0 32px;
  a {
    color: var(--color-text-grey);
    font-size: 64px;
    font-weight: bolder;
  }
}

.login {
  background-color: var(--bg-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 64px;
  &Titre {
    font-size: 39px;
    margin-bottom: 64px;
    text-align: center;
  }
  &Content {
    width: 420px;
    &Form {
      display: flex;
      flex-direction: column;
      &Input {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 12px;
        input {
          border: 1px #c2c2c2 solid;
          border-radius: 16px;
          padding: 12px;
          width: 100%;
        }
        &Password {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          span {
            position: absolute;
            right: 12px;
            color: var(--color-text-grey);
            cursor: pointer;
          }
        }
      }
      &ResetPassword {
        text-align: end;
        margin: 12px 0 64px 0;
        a {
          color: var(--color-text-grey);
          text-decoration: underline;
        }
      }
      &Button {
        align-self: center;
        background-color: var(--bg-color-button-purple);
        color: var(--bg-color-white);
        font-weight: bold;
        border-radius: 32px;
        width: 200px;
        height: 42px;
        font-size: 18px;
        &:hover{
          cursor: pointer;
        }
      }
      &NouveauUser,  &Recheck{
        display: flex;
        justify-content: center;
        margin-top: 32px;
        a {
          margin-left: 12px;
          color: var(--color-text-purple);
          font-weight: bold;
        }
      }
    }
  }
}
